/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*=============================
=            FONTS            =
=============================*/
@font-face {
  font-family: 'proxima_nova_rgregular';
  src: url('fonts/proximanova-reg-webfont.eot');
  src: url('fonts/proximanova-reg-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/proximanova-reg-webfont.woff2') format('woff2'), url('fonts/proximanova-reg-webfont.woff') format('woff'), url('fonts/proximanova-reg-webfont.ttf') format('truetype'), url('fonts/proximanova-reg-webfont.svg#proxima_nova_rgregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'proxima_nova_rgbold';
  src: url('fonts/proximanova-bold-webfont.eot');
  src: url('fonts/proximanova-bold-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/proximanova-bold-webfont.woff') format('woff'), url('fonts/proximanova-bold-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
/*-----  End of FONTS  ------*/
/*==============================
=            HEADER            =
==============================*/
.site-header {
  width: 100%;
  position: relative;
  z-index: 5;
}
.site-header .wrapper {
  display: flex;
  flex-direction: column;
}
@media (min-width: 1200px) {
  .site-header .wrapper {
    height: 89px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
  }
}
.site-header__logo {
  display: block;
  background: url(img/logo.png) no-repeat;
  width: 102px;
  height: 27px;
  align-self: center;
  flex: 1;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2),
		    	only screen and (   min--moz-device-pixel-ratio: 2),
		    	only screen and (     -o-min-device-pixel-ratio: 2/1),
		    	only screen and (        min-device-pixel-ratio: 2),
		    	only screen and (                min-resolution: 192dpi),
		    	only screen and (                min-resolution: 2dppx) {
  .site-header__logo {
    background: url(img/logo@2x.png) no-repeat;
    background-size: 102px 27px;
  }
}
@media (min-width : 320px) and (max-width : 766px) {
  .site-header__logo {
    margin: 30px 0;
  }
}
@media (min-width: 767px) and (max-width: 1199px) {
  .site-header__logo {
    margin: 30px 0;
  }
}
.header-navigation {
  flex-grow: 0;
  flex-shrink: 0;
  align-self: center;
}
@media (min-width : 320px) and (max-width : 766px) {
  .header-navigation {
    margin-bottom: 20px;
  }
}
@media (min-width: 767px) and (max-width: 1199px) {
  .header-navigation {
    margin-bottom: 30px;
  }
}
@media (min-width : 320px) and (max-width : 766px) {
  .header-navigation ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.header-navigation li {
  float: left;
}
.header-navigation li a {
  float: left;
  font: 15px 'proxima_nova_rgregular';
  text-decoration: none;
  text-align: center;
  color: #fff;
  padding: 0 40px;
  text-transform: capitalize;
  transition: all 0.2s ease-in-out;
}
.header-navigation li a:hover,
.header-navigation li a:focus {
  color: #ff1a40;
}
@media (min-width : 320px) and (max-width : 766px) {
  .header-navigation li a {
    font-size: 20px;
  }
}
.qtranxs_widget {
  display: flex;
  flex-direction: row;
  align-self: center;
}
@media (min-width : 320px) and (max-width : 766px) {
  .qtranxs_widget {
    justify-content: center;
  }
}
@media (min-width: 767px) and (max-width: 1199px) {
  .qtranxs_widget {
    justify-content: center;
  }
}
.qtranxs_widget h1 {
  display: none;
}
@media (min-width: 1200px) {
  .qtranxs_widget {
    margin-left: 40px;
  }
}
.qtranxs_widget ul li {
  float: left;
  margin: 0 !important;
  opacity: 1 !important;
}
.qtranxs_widget ul li + li {
  margin-left: -3px !important;
}
.qtranxs_widget ul li:hover,
.qtranxs_widget ul li:focus {
  opacity: .75 !important;
}
.qtranxs_widget li.active {
  background-color: #fff;
}
.qtranxs_widget li.active a {
  color: #000;
}
.qtranxs_widget a {
  padding: 0 5px;
  display: block;
  font: 12px/23px 'proxima_nova_rgregular';
  text-decoration: none;
  text-align: center;
  color: #fff;
  border: 2px solid #fff;
}
/*____-  End of HEADER  ______*/
/*=================================
=            JUMBOTRON            =
=================================*/
.jumbotron {
  width: 100%;
  height: 831px;
  overflow: hidden;
  position: relative;
  background: url(img/jumbotron.jpg) center no-repeat;
}
@media (min-width : 320px) and (max-width : 766px) {
  .jumbotron {
    margin-top: -234px;
    height: 268px;
  }
}
@media (min-width: 767px) and (max-width: 1199px) {
  .jumbotron {
    margin-top: -175px;
  }
}
@media (min-width: 1200px) {
  .jumbotron {
    background: #2a199c;
    margin-top: -89px;
  }
}
@media (min-width: 1200px) {
  .parallax-viewport {
    position: relative;
    overflow: hidden;
  }
  .parallax-layer {
    position: absolute;
    top: 0;
  }
  .parallax-layer-1 {
    background: url(img/pl3.png) center top;
    width: 99%;
    height: 100%;
  }
  .parallax-layer-2 {
    background: url(img/pl2.png) no-repeat center bottom;
    width: 97%;
    height: 99%;
  }
  .parallax-layer-3 {
    background: url(img/pl1.png) no-repeat center bottom;
    width: 93%;
    height: 99%;
  }
}
.slider {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 830px;
}
@media (min-width : 320px) and (max-width : 766px) {
  .slider {
    display: none;
  }
}
.slider__logo {
  background: url(img/logo2.png) no-repeat;
  width: 186px;
  height: 49px;
  top: 233px;
  left: 50%;
  margin-left: -93px;
  position: absolute;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2),
		    	only screen and (   min--moz-device-pixel-ratio: 2),
		    	only screen and (     -o-min-device-pixel-ratio: 2/1),
		    	only screen and (        min-device-pixel-ratio: 2),
		    	only screen and (                min-resolution: 192dpi),
		    	only screen and (                min-resolution: 2dppx) {
  .slider__logo {
    background: url(img/logo-2@2x.png) no-repeat;
    background-size: 186px;
  }
}
.slider__anchor {
  position: absolute;
  display: block;
  background: url(img/arrow.png) no-repeat;
  width: 23px;
  height: 12px;
  top: 346px;
  left: 50%;
  margin-left: -11px;
  z-index: 5;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2),
		    	only screen and (   min--moz-device-pixel-ratio: 2),
		    	only screen and (     -o-min-device-pixel-ratio: 2/1),
		    	only screen and (        min-device-pixel-ratio: 2),
		    	only screen and (                min-resolution: 192dpi),
		    	only screen and (                min-resolution: 2dppx) {
  .slider__anchor {
    background: url(img/arrow@2x.png) no-repeat;
    background-size: 23px 12px;
  }
}
.slide {
  width: 490px;
  text-align: center;
  color: rgba(255, 255, 255, 0.6);
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  height: 657px;
  left: 50%;
  margin-left: -245px;
  position: absolute;
  top: 0!important;
  background: none !important;
}
@media (min-width : 320px) and (max-width : 766px) {
  .slide {
    display: none;
  }
}
.slide::before {
  content: '';
  display: block;
  position: absolute;
  background: url(img/light.png) no-repeat center top;
  top: 0;
  left: 50%;
  margin-left: -345px;
  width: 689px;
  height: 657px;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  animation-delay: .5s;
}
@media (min-width: 767px) and (max-width: 1199px) {
  .slide::before {
    top: 40px;
  }
}
.slide__item {
  position: relative;
  top: 395px;
  display: block;
  font: 26px/37px 'proxima_nova_rgbold';
  background: transparent;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  animation-delay: .8s;
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#nav {
  height: 14px;
  z-index: 5;
  position: absolute;
  top: 767px;
  left: 50%;
  margin-left: -36px;
}
#nav a {
  display: block;
  float: left;
  text-indent: -9999px;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid  #fff;
  margin-left: 3px;
  margin-right: 3px;
  transition: all 0.2s ease-in-out;
}
@media (min-width: 1200px) {
  #nav a {
    width: 11px;
    height: 11px;
  }
}
#nav a.activeSlide {
  margin-top: -4px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid  #fd4d6b;
  background-color: transparent;
  margin-left: 2px;
  margin-right: 2px;
}
@media (min-width: 1200px) {
  #nav a.activeSlide {
    margin-top: -2px;
    width: 15px;
    height: 15px;
  }
}
/*============================
=            content-block-1            =
============================*/
.content-block-1 {
  margin-bottom: 152px;
  padding-top: 60px;
}
@media (min-width : 320px) and (max-width : 766px) {
  .content-block-1 {
    margin-bottom: 64px;
  }
}
.content-block-1-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.content-block-1-list__item {
  float: left;
}
.content-block-1-list-item {
  padding-bottom: 40px;
  margin-bottom: 37px;
}
@media (min-width : 320px) and (max-width : 766px) {
  .content-block-1-list-item {
    width: 100%;
  }
}
@media (min-width: 767px) and (max-width: 1199px) {
  .content-block-1-list-item {
    width: 100%;
  }
  .content-block-1-list-item:nth-child(-n+4) {
    border-bottom: 1px dashed rgba(42, 38, 63, 0.2);
  }
}
@media (min-width: 1200px) {
  .content-block-1-list-item {
    width: 350px;
    padding-right: 33px;
  }
  .content-block-1-list-item:nth-child(-n+3) {
    border-bottom: 1px dashed rgba(42, 38, 63, 0.2);
  }
  .content-block-1-list-item:nth-child(n+4) {
    margin-bottom: 0;
  }
}
.content-block-1-list-item__header {
  position: relative;
  margin-bottom: 20px;
  font: 19px 'proxima_nova_rgbold';
}
@media (min-width : 320px) and (max-width : 766px) {
  .content-block-1-list-item__header {
    font-size: 22px;
  }
}
@media (min-width: 767px) and (max-width: 1199px) {
  .content-block-1-list-item__header {
    margin-bottom: 30px;
    display: flex;
    align-items: center;
  }
}
@media (min-width: 1200px) {
  .content-block-1-list-item__header {
    font: 19px 'proxima_nova_rgbold';
    height: 50px;
    display: flex;
    align-items: center;
  }
}
.content-block-1-list-item__header::before {
  content: '';
  margin-right: 23px;
  display: block;
  background: url(img/point.png) no-repeat;
  float: left;
  width: 51px;
  height: 50px;
  flex-shrink: 0;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2),
		    	only screen and (   min--moz-device-pixel-ratio: 2),
		    	only screen and (     -o-min-device-pixel-ratio: 2/1),
		    	only screen and (        min-device-pixel-ratio: 2),
		    	only screen and (                min-resolution: 192dpi),
		    	only screen and (                min-resolution: 2dppx) {
  .content-block-1-list-item__header::before {
    background: url(img/point@2x.png) no-repeat;
    background-size: 51px 50px;
  }
}
@media (min-width : 320px) and (max-width : 766px) {
  .content-block-1-list-item__header::before {
    background-size: 25px 25px;
    margin-right: 10px;
    width: 25px;
  }
}
@media (min-width : 320px) and (max-width : 766px) {
  .content-block-1-list-item__content {
    font-size: 16px;
  }
}
@media (min-width: 767px) and (max-width: 1199px) {
  .content-block-1-list-item__content {
    font-size: 20px;
  }
}
@media (min-width: 1200px) {
  .content-block-1-list-item__content {
    font-size: 16px;
  }
}
/*================================
=            content-block-2            =
================================*/
.content-block-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 266px;
  position: relative;
  background: linear-gradient(0deg, #1c099d, #250ccd);
  background-size: 400% 400%;
  animation: animationGradient 18s ease infinite;
}
@media (min-width : 320px) and (max-width : 766px) {
  .content-block-2 {
    height: 125px;
  }
}
@keyframes animationGradient {
  0% {
    background-position: 68% 0%;
  }
  50% {
    background-position: 33% 100%;
  }
  100% {
    background-position: 68% 0%;
  }
}
.content-block-2__logo {
  background: url(img/logo3.png) no-repeat;
  width: 156px;
  height: 41px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2),
		    	only screen and (   min--moz-device-pixel-ratio: 2),
		    	only screen and (     -o-min-device-pixel-ratio: 2/1),
		    	only screen and (        min-device-pixel-ratio: 2),
		    	only screen and (                min-resolution: 192dpi),
		    	only screen and (                min-resolution: 2dppx) {
  .content-block-2__logo {
    background: url(img/logo3@2x.png) no-repeat;
    background-size: 156px 41px;
  }
}
.content-block-3 {
  display: flex;
  align-items: center;
  padding: 60px 0;
}
.content-block-4 {
  padding-top: 93px;
}
@media (min-width : 320px) and (max-width : 766px) {
  .content-block-4 {
    padding-top: 64px;
  }
}
.content-block-4-list-1 {
  margin: 51px 0 59px;
  display: flex;
  justify-content: space-around;
}
@media (min-width : 320px) and (max-width : 766px) {
  .content-block-4-list-1 {
    flex-direction: column;
  }
}
.content-block-4-list-1__item {
  font: 19px 'proxima_nova_rgbold';
  position: relative;
  display: flex;
  align-items: center;
  text-transform: capitalize;
}
@media (min-width : 320px) and (max-width : 766px) {
  .content-block-4-list-1__item {
    flex-direction: column;
    text-align: center;
    width: 100%;
    margin: 20px 0;
  }
}
@media (min-width: 767px) and (max-width: 1199px) {
  .content-block-4-list-1__item {
    flex-direction: column;
    font-size: 30px;
    text-align: center;
  }
}
.content-block-4-list-1__item::before {
  content: '';
  display: block;
  float: left;
}
@media (min-width : 320px) and (max-width : 766px) {
  .content-block-4-list-1__item::before {
    margin-bottom: 20px;
  }
}
@media (min-width: 767px) and (max-width: 1199px) {
  .content-block-4-list-1__item::before {
    margin-bottom: 20px;
  }
}
@media (min-width: 1200px) {
  .content-block-4-list-1__item::before {
    margin-right: 20px;
  }
}
.content-block-4-list-1__item--icon-1::before {
  background: url(img/i1.png) no-repeat;
  width: 71px;
  height: 51px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2),
		    	only screen and (   min--moz-device-pixel-ratio: 2),
		    	only screen and (     -o-min-device-pixel-ratio: 2/1),
		    	only screen and (        min-device-pixel-ratio: 2),
		    	only screen and (                min-resolution: 192dpi),
		    	only screen and (                min-resolution: 2dppx) {
  .content-block-4-list-1__item--icon-1::before {
    background: url(img/i1@2x.png) no-repeat;
    background-size: 71px 51px;
  }
}
.content-block-4-list-1__item--icon-2::before {
  background: url(img/i2.png) no-repeat;
  width: 62px;
  height: 51px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2),
		    	only screen and (   min--moz-device-pixel-ratio: 2),
		    	only screen and (     -o-min-device-pixel-ratio: 2/1),
		    	only screen and (        min-device-pixel-ratio: 2),
		    	only screen and (                min-resolution: 192dpi),
		    	only screen and (                min-resolution: 2dppx) {
  .content-block-4-list-1__item--icon-2::before {
    background: url(img/i2@2x.png) no-repeat;
    background-size: 62px 51px;
  }
}
.content-block-4-list-1__item--icon-3::before {
  background: url(img/i3.png) no-repeat;
  width: 49px;
  height: 53px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2),
		    	only screen and (   min--moz-device-pixel-ratio: 2),
		    	only screen and (     -o-min-device-pixel-ratio: 2/1),
		    	only screen and (        min-device-pixel-ratio: 2),
		    	only screen and (                min-resolution: 192dpi),
		    	only screen and (                min-resolution: 2dppx) {
  .content-block-4-list-1__item--icon-3::before {
    background: url(img/i3@2x.png) no-repeat;
    background-size: 49px 53px;
  }
}
.content-block-4-list-2 {
  margin-top: 60px;
}
@media (min-width: 1200px) {
  .content-block-4-list-2 {
    margin-bottom: 100px;
  }
}
.content-block-4-list-2__item {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (min-width : 320px) and (max-width : 766px) {
  .content-block-4-list-2__item {
    width: 100%;
    flex-direction: column;
  }
  .content-block-4-list-2__item:nth-child(1) {
    margin-bottom: 20px;
  }
}
@media (min-width: 767px) and (max-width: 1199px) {
  .content-block-4-list-2__item {
    width: 100%;
  }
  .content-block-4-list-2__item:nth-child(1) {
    margin-bottom: 20px;
  }
}
@media (min-width: 1200px) {
  .content-block-4-list-2__item {
    width: 600px;
    float: left;
  }
}
.content-block-4-list-2__icon {
  display: block;
  background: url(img/point-2.png) no-repeat;
  height: 72px;
  margin-right: 25px;
  width: 75px;
  flex-shrink: 0;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2),
		    	only screen and (   min--moz-device-pixel-ratio: 2),
		    	only screen and (     -o-min-device-pixel-ratio: 2/1),
		    	only screen and (        min-device-pixel-ratio: 2),
		    	only screen and (                min-resolution: 192dpi),
		    	only screen and (                min-resolution: 2dppx) {
  .content-block-4-list-2__icon {
    background: url(img/point-2@2x.png) no-repeat;
    background-size: 75px 72px;
  }
}
@media (min-width : 320px) and (max-width : 766px) {
  .content-block-4-list-2__icon {
    margin-bottom: 20px;
    margin-right: 0;
  }
}
@media (min-width : 320px) and (max-width : 766px) {
  .content-block-4-list-2__content {
    text-align: center;
  }
}
.content-block-5 {
  display: flex;
  margin: 60px 0;
}
@media (min-width : 320px) and (max-width : 766px) {
  .content-block-5 {
    flex-direction: column;
  }
}
@media (min-width: 767px) and (max-width: 1199px) {
  .content-block-5 {
    flex-direction: column;
  }
}
@media (min-width: 1200px) {
  .content-block-5 {
    flex-direction: row;
  }
}
@media (min-width: 1200px) {
  .content-block-5 {
    margin: 98px 0;
  }
}
.content-block-5__picture {
  background: url(img/cb-5.jpg) no-repeat right top;
  background-size: cover;
  border: 22px solid #fff;
  width: 100%;
  height: 555px;
}
@media (min-width : 320px) and (max-width : 766px) {
  .content-block-5__picture {
    height: 300px;
  }
}
@media (min-width: 1200px) {
  .content-block-5__picture {
    border-left: 0;
    width: 48%;
    height: 600px;
    float: left;
    flex-grow: 0;
    position: relative;
  }
}
.content-block-5__title {
  font: 19px/34px 'proxima_nova_rgbold';
  margin-bottom: 11px;
}
@media (min-width : 320px) and (max-width : 766px) {
  .content-block-5__lists {
    padding: 0 15px;
  }
}
@media (min-width: 767px) and (max-width: 1199px) {
  .content-block-5__lists {
    display: flex;
    justify-content: space-around;
    padding: 60px 15px 0;
  }
}
@media (min-width: 1200px) {
  .content-block-5__lists {
    width: 600px;
    margin: 100px 0 0 105px;
  }
}
@media (min-width : 320px) and (max-width : 766px) {
  .content-block-5-list {
    margin: 20px 0;
    width: 100%;
  }
}
@media (min-width: 767px) and (max-width: 1199px) {
  .content-block-5-list {
    width: 50%;
  }
}
.content-block-5-list__item {
  font: 16px/25px 'proxima_nova_rgregular';
  padding-left: 37px;
  position: relative;
}
.content-block-5-list__item::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background: url(img/mark1.png) no-repeat;
  margin-top: 7px;
  float: left;
  width: 18px;
  height: 17px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .content-block-5-list__item::before {
    background: url(img/mark1@2x.png) no-repeat;
    background-size: 18px 17px;
  }
}
.content-block-6 {
  padding-top: 62px;
  height: 314px;
  position: relative;
  background: linear-gradient(0deg, #1c099d, #250ccd);
  background-size: 400% 400%;
  animation: animationGradient 18s ease infinite;
}
@media (min-width : 320px) and (max-width : 766px) {
  .content-block-6 {
    height: 183px;
    padding-top: 0;
  }
}
.content-block-7 {
  background-color: #fff;
  width: 814px;
  margin: 0 auto;
  padding: 0 129px 104px;
}
@media (min-width : 320px) and (max-width : 766px) {
  .content-block-7 {
    padding: 0;
    width: 100%;
  }
}
@media (min-width: 767px) and (max-width: 1199px) {
  .content-block-7 {
    padding: 0;
    padding-bottom: 45px;
    width: 100%;
  }
}
.content-block-7 .wpcf7-response-output {
  font: 16px 'proxima_nova_rgbold';
  text-transform: uppercase;
  padding: 15px;
  text-align: center;
}
.content-block-7 .wpcf7-response-output.wpcf7-mail-sent-ok {
  background-color: #1c099d;
  border: none;
  color: #fff;
}
.content-block-7 .wpcf7-response-output.wpcf7-validation-errors {
  background-color: #ff1a40;
  border: none;
  color: #fff;
}
.contact-form {
  padding-top: 45px;
}
.contact-form-group {
  margin-bottom: 11px;
  min-height: 45px;
}
@media (min-width : 320px) and (max-width : 766px) {
  .contact-form-group {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media (min-width: 767px) and (max-width: 1199px) {
  .contact-form-group {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.contact-form-group__label {
  font: 16px/45px 'proxima_nova_rgbold';
  margin-right: 18px;
  text-align: right;
  float: left;
  width: 108px;
}
@media (min-width : 320px) and (max-width : 766px) {
  .contact-form-group__label {
    margin-right: 0;
    text-align: center;
  }
}
@media (min-width: 767px) and (max-width: 1199px) {
  .contact-form-group__label {
    text-align: center;
    margin-right: 0;
  }
}
.contact-form-group__input {
  margin-left: 40px;
  width: 319px;
  height: 45px;
  border: none;
  outline: none;
  font: 16px 'proxima_nova_rgregular';
}
@media (min-width : 320px) and (max-width : 766px) {
  .contact-form-group__input {
    width: 85%;
  }
}
.contact-form-group__textarea {
  width: 270px;
  height: 220px;
  border: none;
  outline: none;
  margin: 10px 13px 13px 40px;
  font: 16px 'proxima_nova_rgregular';
}
@media (min-width : 320px) and (max-width : 766px) {
  .contact-form-group__textarea {
    width: 85%;
  }
}
.contact-form-group__wrapper {
  float: left;
  width: 319px;
  height: 45px;
  overflow: hidden;
  border: 1px solid rgba(42, 38, 63, 0.2);
  position: relative;
}
@media (min-width : 320px) and (max-width : 766px) {
  .contact-form-group__wrapper {
    width: 100%;
  }
}
@media (min-width: 767px) and (max-width: 1199px) {
  .contact-form-group__wrapper {
    width: 364px;
  }
}
.contact-form-group__wrapper::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 11px;
  height: 45px;
}
.contact-form-group__wrapper--name::before {
  background: url(img/i5.png) center no-repeat;
  width: 18px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2),
		    	only screen and (   min--moz-device-pixel-ratio: 2),
		    	only screen and (     -o-min-device-pixel-ratio: 2/1),
		    	only screen and (        min-device-pixel-ratio: 2),
		    	only screen and (                min-resolution: 192dpi),
		    	only screen and (                min-resolution: 2dppx) {
  .contact-form-group__wrapper--name::before {
    background: url(img/i5@2x.png) center no-repeat;
    background-size: 18px 19px;
  }
}
.contact-form-group__wrapper--name.has-error::before {
  background: url(img/i5r.png) center no-repeat;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2),
		    	only screen and (   min--moz-device-pixel-ratio: 2),
		    	only screen and (     -o-min-device-pixel-ratio: 2/1),
		    	only screen and (        min-device-pixel-ratio: 2),
		    	only screen and (                min-resolution: 192dpi),
		    	only screen and (                min-resolution: 2dppx) {
  .contact-form-group__wrapper--name.has-error::before {
    background: url(img/i5r@2x.png) center no-repeat;
    background-size: 18px 19px;
  }
}
.contact-form-group__wrapper--tel::before {
  background: url(img/i6.png) center no-repeat;
  width: 20px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2),
		    	only screen and (   min--moz-device-pixel-ratio: 2),
		    	only screen and (     -o-min-device-pixel-ratio: 2/1),
		    	only screen and (        min-device-pixel-ratio: 2),
		    	only screen and (                min-resolution: 192dpi),
		    	only screen and (                min-resolution: 2dppx) {
  .contact-form-group__wrapper--tel::before {
    background: url(img/i6@2x.png) center no-repeat;
    background-size: 20px 20px;
  }
}
.contact-form-group__wrapper--tel.has-error::before {
  background: url(img/i6r.png) center no-repeat;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2),
		    	only screen and (   min--moz-device-pixel-ratio: 2),
		    	only screen and (     -o-min-device-pixel-ratio: 2/1),
		    	only screen and (        min-device-pixel-ratio: 2),
		    	only screen and (                min-resolution: 192dpi),
		    	only screen and (                min-resolution: 2dppx) {
  .contact-form-group__wrapper--tel.has-error::before {
    background: url(img/i6r@2x.png) center no-repeat;
    background-size: 20px 20px;
  }
}
.contact-form-group__wrapper--email::before {
  background: url(img/i7.png) center no-repeat;
  width: 19px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2),
		    	only screen and (   min--moz-device-pixel-ratio: 2),
		    	only screen and (     -o-min-device-pixel-ratio: 2/1),
		    	only screen and (        min-device-pixel-ratio: 2),
		    	only screen and (                min-resolution: 192dpi),
		    	only screen and (                min-resolution: 2dppx) {
  .contact-form-group__wrapper--email::before {
    background: url(img/i7@2x.png) center no-repeat;
    background-size: 19px 12px;
  }
}
.contact-form-group__wrapper--email.has-error::before {
  background: url(img/i7r.png) center no-repeat;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2),
		    	only screen and (   min--moz-device-pixel-ratio: 2),
		    	only screen and (     -o-min-device-pixel-ratio: 2/1),
		    	only screen and (        min-device-pixel-ratio: 2),
		    	only screen and (                min-resolution: 192dpi),
		    	only screen and (                min-resolution: 2dppx) {
  .contact-form-group__wrapper--email.has-error::before {
    background: url(img/i7r@2x.png) center no-repeat;
    background-size: 19px 12px;
  }
}
.contact-form-group__wrapper--msg {
  height: 223px;
}
@media (min-width : 320px) and (max-width : 766px) {
  .contact-form-group__wrapper--msg {
    width: 100%;
  }
}
@media (min-width: 767px) and (max-width: 1199px) {
  .contact-form-group__wrapper--msg {
    width: 364px;
  }
}
@media (min-width: 1200px) {
  .contact-form-group__wrapper--msg {
    width: 319px;
  }
}
.contact-form-group__wrapper--msg::before {
  background: url(img/i8.png) center no-repeat;
  width: 20px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2),
		    	only screen and (   min--moz-device-pixel-ratio: 2),
		    	only screen and (     -o-min-device-pixel-ratio: 2/1),
		    	only screen and (        min-device-pixel-ratio: 2),
		    	only screen and (                min-resolution: 192dpi),
		    	only screen and (                min-resolution: 2dppx) {
  .contact-form-group__wrapper--msg::before {
    background: url(img/i8@2x.png) center no-repeat;
    background-size: 20px 17px;
  }
}
.contact-form-group__wrapper--msg.has-error::before {
  background: url(img/i8r.png) center no-repeat;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2),
		    	only screen and (   min--moz-device-pixel-ratio: 2),
		    	only screen and (     -o-min-device-pixel-ratio: 2/1),
		    	only screen and (        min-device-pixel-ratio: 2),
		    	only screen and (                min-resolution: 192dpi),
		    	only screen and (                min-resolution: 2dppx) {
  .contact-form-group__wrapper--msg.has-error::before {
    background: url(img/i8r@2x.png) center no-repeat;
    background-size: 20px 17px;
  }
}
.content-block-8 {
  height: 569px;
  width: 100%;
  position: relative;
  overflow: hidden;
}
@media (min-width : 320px) and (max-width : 766px) {
  .content-block-8 {
    height: 300px;
  }
}
.content-block-8:hover .content-block-8-violet,
.content-block-8:focus .content-block-8-violet {
  opacity: 0;
  z-index: -1;
}
@media (min-width: 1200px) {
  .content-block-8-violet {
    display: block;
    position: absolute;
    width: 100%;
    height: 569px;
    background-color: rgba(28, 9, 157, 0.84);
    z-index: 2;
    transition: all 0.6s ease-in-out;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .content-block-8-violet__point .icon {
    display: block;
    background: url(img/map-point2.png) center no-repeat;
    width: 100%;
    height: 68px;
  }
  .content-block-8-violet__point .text {
    margin-top: 56px;
    font: 40px 'proxima_nova_rgregular';
    color: #fff;
    text-align: center;
  }
  .content-block-8-violet__point .text b {
    font-weight: bold;
  }
}
@media (min-width: 1200px) and (min-width : 320px) and (max-width : 766px) {
  .content-block-8-violet {
    height: 300px;
  }
}
@media (min-width: 1200px) and only screen and (-webkit-min-device-pixel-ratio: 2),
		    	only screen and (   min--moz-device-pixel-ratio: 2),
		    	only screen and (     -o-min-device-pixel-ratio: 2/1),
		    	only screen and (        min-device-pixel-ratio: 2),
		    	only screen and (                min-resolution: 192dpi),
		    	only screen and (                min-resolution: 2dppx) {
  .content-block-8-violet__point .icon {
    background: url(img/map-point2@2x.png) center no-repeat;
    background-size: 41px 68px;
  }
}
#map {
  height: 569px;
  width: 100%;
  position: relative;
}
@media (min-width : 320px) and (max-width : 766px) {
  #map {
    height: 300px;
  }
}
.content-block-9 {
  height: 870px;
  width: 100%;
  position: relative;
}
@media (min-width : 320px) and (max-width : 766px) {
  .content-block-9 {
    height: 400px;
  }
}
.content-block-9__text-wrap {
  width: 100%;
  height: 264px;
  opacity: .9;
  background-color: rgba(28, 9, 157, 0.84);
  position: absolute;
  bottom: 0;
  z-index: 2;
}
#content-block-9__nav {
  height: 14px;
  position: relative;
  width: 72px;
  z-index: 5;
  float: right;
  bottom: 196px;
}
@media (min-width : 320px) and (max-width : 766px) {
  #content-block-9__nav {
    bottom: 170px;
  }
}
#content-block-9__nav a {
  display: block;
  float: left;
  text-indent: -9999px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid  #fff;
  margin-left: 3px;
  margin-right: 3px;
  transition: all 0.2s ease-in-out;
}
#content-block-9__nav a.activeSlide {
  margin-top: -2px;
  width: 15px;
  height: 15px;
  border-radius: 8px;
  border: 2px solid  #fd4d6b;
  background-color: transparent;
  margin-left: 2px;
  margin-right: 2px;
}
.promo-slider {
  width: 100%;
}
.promo-slider__slide {
  width: 100%;
  height: 855px;
}
@media (min-width : 320px) and (max-width : 766px) {
  .promo-slider__slide {
    height: 386px;
  }
}
.promo-slider__logo {
  background: url(img/mvideo.png) no-repeat;
  position: absolute;
  top: 100px;
  left: 50%;
  margin-left: -107px;
  width: 214px;
  height: 87px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .promo-slider__logo {
    background: url(img/mvideo@2x.png) no-repeat;
    background-size: 214px 87px;
  }
}
@media (min-width : 320px) and (max-width : 766px) {
  .promo-slider__logo {
    top: 46px;
  }
}
.promo-slider__text {
  color: #fff;
  width: 880px;
  text-align: center;
  align-self: flex-end;
  z-index: 3;
  padding-bottom: 100px;
}
@media (min-width : 320px) and (max-width : 766px) {
  .promo-slider__text {
    font-size: 12px;
    padding-bottom: 30px;
  }
}
@media (min-width: 767px) and (max-width: 1199px) {
  .promo-slider__text {
    font-size: 20px;
  }
}
@media (min-width: 1200px) {
  .promo-slider__text {
    font: 16px/25px 'proxima_nova_rgregular';
  }
}
.promo-slider-slide {
  width: 100%;
  height: 870px;
  position: relative;
  display: flex;
  justify-content: center;
}
@media (min-width : 320px) and (max-width : 766px) {
  .promo-slider-slide {
    height: 400px;
  }
}
.promo-slider-slide::before {
  content: '';
  display: block;
  width: 100%;
  height: 264px;
  opacity: .9;
  background-color: rgba(28, 9, 157, 0.84);
  position: absolute;
  bottom: 0;
  z-index: 2;
  left: 0;
}
@media (min-width : 320px) and (max-width : 766px) {
  .promo-slider-slide::before {
    height: 200px;
  }
}
.promo-slider-slide--1 {
  background: url(img/promo.jpg) no-repeat center;
  background-size: cover;
}
.promo-slider-slide--2 {
  background: url(img/promo2.jpg) no-repeat center;
  background-size: cover;
}
.promo-slider-slide--3 {
  background: url(img/promo3.jpg) no-repeat center;
  background-size: cover;
}
.promo-slider-slide--4 {
  background: url(img/promo2.jpg) no-repeat center;
  background-size: cover;
}
.content-block-10 {
  height: 411px;
  position: relative;
  z-index: 6;
  display: flex;
  align-items: center;
  background: linear-gradient(0deg, #1c099d, #250ccd);
  background-size: 400% 400%;
  animation: animationGradient 18s ease infinite;
}
@media (min-width : 320px) and (max-width : 766px) {
  .content-block-10 {
    height: 200px;
    padding: 0 15px;
  }
}
@media (min-width: 767px) and (max-width: 1199px) {
  .content-block-10 {
    height: 300px;
  }
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
/*==============================
=            FOOTER            =
==============================*/
.site-footer {
  background-color: #ededed;
  display: flex;
  flex-direction: column;
}
@media (min-width: 1200px) {
  .site-footer {
    justify-content: center;
    flex-direction: row;
  }
}
.site-footer__left {
  width: 50%;
}
@media (min-width : 320px) and (max-width : 766px) {
  .site-footer__left {
    width: 100%;
    order: 2;
  }
}
@media (min-width: 767px) and (max-width: 1199px) {
  .site-footer__left {
    width: 100%;
    order: 2;
  }
}
.site-footer__right {
  width: 100%;
  position: relative;
}
@media (min-width: 1200px) {
  .site-footer__right:hover .footer-violet,
  .site-footer__right:focus .footer-violet {
    opacity: 0;
    z-index: -1;
  }
}
@media (min-width : 320px) and (max-width : 766px) {
  .site-footer__right {
    height: 200px;
    order: 1;
  }
}
@media (min-width: 767px) and (max-width: 1199px) {
  .site-footer__right {
    height: 400px;
    order: 1;
  }
}
@media (min-width: 1200px) {
  .site-footer__right {
    width: 50%;
  }
  .site-footer__right .footer-violet {
    display: block;
    position: absolute;
    width: 100%;
    background-color: rgba(28, 9, 157, 0.84);
    z-index: 2;
    transition: all 0.6s ease-in-out;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .site-footer__right .footer-violet__point .icon {
    display: block;
    background: url(img/map-point3.png) center no-repeat;
    width: 50px;
    height: 87px;
  }
  .site-footer__right .footer-violet__point .text {
    margin-top: 56px;
    font: 40px 'proxima_nova_rgregular';
    color: #fff;
    text-align: center;
  }
  .site-footer__right .footer-violet__point .text b {
    font-weight: bold;
  }
}
@media (min-width: 1200px) and (min-width : 320px) and (max-width : 766px) {
  .site-footer__right .footer-violet {
    height: 200px;
  }
}
@media (min-width: 1200px) and (min-width: 767px) and (max-width: 1199px) {
  .site-footer__right .footer-violet {
    height: 400px;
  }
}
@media (min-width: 1200px) and (min-width: 1200px) {
  .site-footer__right .footer-violet {
    height: 438px;
  }
}
@media (min-width: 1200px) and only screen and (-webkit-min-device-pixel-ratio: 2),
		    	only screen and (   min--moz-device-pixel-ratio: 2),
		    	only screen and (     -o-min-device-pixel-ratio: 2/1),
		    	only screen and (        min-device-pixel-ratio: 2),
		    	only screen and (                min-resolution: 192dpi),
		    	only screen and (                min-resolution: 2dppx) {
  .site-footer__right .footer-violet__point .icon {
    background: url(img/map-point2@2x.png) center no-repeat;
    background-size: 50px 87px;
  }
}
#footer__map {
  width: 100%;
  position: relative;
}
@media (min-width : 320px) and (max-width : 766px) {
  #footer__map {
    height: 200px;
  }
}
@media (min-width: 767px) and (max-width: 1199px) {
  #footer__map {
    height: 400px;
  }
}
@media (min-width: 1200px) {
  #footer__map {
    height: 438px;
  }
}
.footer-columns {
  padding-right: 43px;
  padding-top: 66px;
}
@media (min-width : 320px) and (max-width : 766px) {
  .footer-columns {
    padding-right: 0;
  }
}
@media (min-width: 767px) and (max-width: 1199px) {
  .footer-columns {
    padding-bottom: 40px;
    padding-right: 0;
  }
}
@media (min-width: 1200px) {
  .footer-columns {
    float: right;
  }
}
.footer-columns__list {
  margin-top: 29px;
  display: flex;
  justify-content: center;
}
@media (min-width : 320px) and (max-width : 766px) {
  .footer-columns__list {
    flex-direction: column;
  }
}
.footer-columns__title {
  text-align: center;
  color: #1c099d;
  font: 46px 'proxima_nova_rgregular';
}
.footer-columns__column {
  padding: 0 60px;
}
@media (min-width : 320px) and (max-width : 766px) {
  .footer-columns__column {
    padding: 0;
    text-align: center;
  }
}
.footer-columns__column:nth-child(1) {
  border-right: 2px dotted #7a6f63;
}
@media (min-width : 320px) and (max-width : 766px) {
  .footer-columns__column:nth-child(1) {
    border-right: 0;
    margin-bottom: 20px;
  }
}
.footer-columns__address {
  font: 16px/23px 'proxima_nova_rgregular';
}
.footer-columns__question {
  margin-top: 16px;
  text-align: center;
}
.footer-columns__question:first-letter {
  text-transform: capitalize;
}
.footer-columns__btn {
  margin: 8px auto 0;
  display: block;
  color: #1c099d;
  text-decoration: none;
  text-align: center;
  font-size: 16px;
  line-height: 37px;
  border: 2px dotted #ff1a40;
  width: 172px;
  height: 37px;
  border-radius: 18px;
  background-clip: padding-box;
  background-color: transparent;
  position: relative;
}
.footer-columns__btn::before {
  content: '';
  display: block;
  position: absolute;
  border: 2px dotted #dbdbdb;
  width: 168px;
  height: 33px;
  top: 2px;
  left: -2px;
  border-radius: 18px;
}
.footer-columns__btn:first-letter {
  text-transform: capitalize;
}
.footer-columns__order:nth-child(n+2) {
  margin-top: 17px;
}
.created-by {
  margin-top: 47px;
  display: flex;
  justify-content: center;
}
@media (min-width : 320px) and (max-width : 766px) {
  .created-by {
    margin: 30px 0;
  }
}
@media (min-width: 767px) and (max-width: 1199px) {
  .created-by {
    margin-bottom: 0;
  }
}
.created-by__text {
  color: #766b5f;
  font-size: 16px;
  margin-right: 20px;
}
.created-by__heartbeat {
  display: block;
  background: url(img/hb.png) no-repeat;
  width: 80px;
  height: 23px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2),
		    	only screen and (   min--moz-device-pixel-ratio: 2),
		    	only screen and (     -o-min-device-pixel-ratio: 2/1),
		    	only screen and (        min-device-pixel-ratio: 2),
		    	only screen and (                min-resolution: 192dpi),
		    	only screen and (                min-resolution: 2dppx) {
  .created-by__heartbeat {
    background: url(img/hb@2x.png) no-repeat;
    background-size: 80px 23px;
  }
}
/*-----  End of FOOTER  ------*/
/*=====================================
=            Custom styles            =
=====================================*/
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}
.clear {
  clear: both;
}
html,
body {
  height: 100%;
  color: #2a263f;
  font: 16px/23px 'proxima_nova_rgregular';
}
* {
  box-sizing: border-box;
}
.f_clear {
  height: auto;
}
.wrapper {
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
@media (min-width : 320px) and (max-width : 766px) {
  .wrapper {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media (min-width: 767px) and (max-width: 1199px) {
  .wrapper {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media (min-width: 1200px) {
  .wrapper {
    width: 1200px;
  }
}
.container {
  width: 100%;
  height: auto;
}
.container--light {
  background-color: #ededed;
}
.container--dark {
  background-color: #1c099d;
}
.container--contact-form {
  background: url(img/vost.png) no-repeat center, #ededed;
}
@media (min-width : 320px) and (max-width : 766px) {
  .container--contact-form {
    background: none;
  }
}
.btn {
  display: block;
  background-color: #ff1a3f;
  box-shadow: 0 4px 0 rgba(34, 31, 26, 0.09);
  color: #fff;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto;
  letter-spacing: 3px;
  width: 364px;
  height: 98px;
  font: 32px/98px 'proxima_nova_rgbold';
  border: none;
  position: relative;
  overflow: hidden;
}
@media (min-width : 320px) and (max-width : 766px) {
  .btn {
    padding: 0 10px;
    width: 100%;
    margin: 0 auto;
    height: 60px;
    font: 22px/60px 'proxima_nova_rgbold';
  }
}
.btn::before {
  content: '';
  display: block;
  width: 1px;
  height: 0;
  transform: rotate(-30deg);
  background-color: #fff;
  position: absolute;
  top: 33%;
  left: -5px;
  transform-origin: top left;
  transition: all 0.4s ease-in-out;
}
.btn::after {
  content: '';
  display: block;
  width: 1px;
  height: 0;
  transform: rotate(-30deg);
  background-color: #fff;
  position: absolute;
  top: 0;
  right: 9%;
  transform-origin: top left;
  transition: all 0.4s ease-in-out;
}
.btn:hover,
.btn:focus {
  cursor: pointer;
}
.btn:hover::before,
.btn:focus::before {
  height: 200px;
}
.btn:hover::after,
.btn:focus::after {
  height: 200px;
}
@media (min-width: 1200px) {
  .btn {
    font: 16px/49px 'proxima_nova_rgbold';
    width: 182px;
    height: 49px;
  }
}
.btn--jumbotron {
  position: absolute;
  top: 565px;
  left: 50%;
  margin-left: -182px;
  z-index: 10;
}
@media (min-width: 1200px) {
  .btn--jumbotron {
    margin-left: -91px;
  }
}
.btn--content-block-1 {
  margin-top: 33px;
}
.btn--contact-form {
  margin-top: 30px;
}
@media (min-width : 320px) and (max-width : 766px) {
  .btn--contact-form {
    margin-bottom: 30px;
  }
}
.btn--content-block-10 {
  position: relative;
  z-index: 2;
}
.title {
  text-align: center;
  font: 50px 'proxima_nova_rgregular';
}
@media (min-width : 320px) and (max-width : 766px) {
  .title {
    font: 23px 'proxima_nova_rgregular';
  }
}
@media (min-width: 1200px) {
  .title {
    font: 40px 'proxima_nova_rgregular';
  }
}
.title--dark {
  color: #2a263f;
}
.title--light {
  color: #fff;
}
.title--content-block-1 {
  padding: 64px 0 85px;
}
@media (min-width: 1200px) {
  .title--content-block-1 {
    padding: 74px 0 85px;
  }
}
.title--content-block-2 {
  margin-right: 25px;
}
.title--content-block-6 {
  position: relative;
  padding-top: 83px;
}
@media (min-width : 320px) and (max-width : 766px) {
  .title--content-block-6 {
    padding-top: 80px;
  }
}
.title--content-block-6::before {
  content: '';
  display: block;
  position: absolute;
  background: url(img/i4.png) no-repeat;
  top: 13px;
  left: 50%;
  margin-left: -22px;
  width: 55px;
  height: 50px;
}
@media (min-width : 320px) and (max-width : 766px) {
  .title--content-block-6::before {
    top: 25px;
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 2),
		    	only screen and (   min--moz-device-pixel-ratio: 2),
		    	only screen and (     -o-min-device-pixel-ratio: 2/1),
		    	only screen and (        min-device-pixel-ratio: 2),
		    	only screen and (                min-resolution: 192dpi),
		    	only screen and (                min-resolution: 2dppx) {
  .title--content-block-6::before {
    background: url(img/i4@2x.png) no-repeat;
    background-size: 55px 50px;
  }
}
.title__bold {
  font-family: 'proxima_nova_rgbold';
}
.title__bold--dark {
  color: #1c099d;
}
.description {
  text-align: center;
  letter-spacing: 1px;
}
.description--blue {
  color: #1c099d;
}
.description--black {
  color: #2a263f;
}
.description--content-block-1 {
  margin-top: 14px;
}
.description--content-block-1::after {
  content: '';
  display: block;
  border-top: 1px dashed rgba(42, 38, 63, 0.2);
  width: 358px;
  height: 1px;
  margin: 25px auto 0;
}
@media (min-width : 320px) and (max-width : 766px) {
  .description--content-block-1::after {
    width: 100%;
  }
}
@media (min-width : 320px) and (max-width : 766px) {
  .description {
    font: 20px 'proxima_nova_rgbold';
  }
}
@media (min-width: 767px) and (max-width: 1199px) {
  .description {
    font: 25px 'proxima_nova_rgbold';
  }
}
@media (min-width: 1200px) {
  .description {
    font: 22px/35px 'proxima_nova_rgbold';
  }
}
.triangle {
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
}
.triangle--bottom {
  width: 266px;
  height: 100px;
  background-color: red;
  position: absolute;
  bottom: 144px;
  left: 50%;
  margin-left: -133px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  z-index: -1;
  transform-origin: top left;
  background: linear-gradient(0deg, #1c099d, #250ccd);
  background-size: 400% 400%;
  animation: animationGradient 18s ease infinite;
}
@media (min-width: 1200px) {
  .triangle--right {
    border-width: 15px 0 15px 15px;
    top: 50%;
    right: -37px;
    margin-top: -15px;
  }
}
.triangle--big {
  border-width: 0 400px 54px 400px;
  border-color: transparent transparent #ffffff transparent;
  z-index: 500;
  bottom: 0;
  left: 50%;
  margin-left: -407px;
  -webkit-transform: rotate(360deg);
}
@media (min-width : 320px) and (max-width : 766px) {
  .triangle--big {
    border-width: 0 150px 34px 150px;
    margin-left: -150px;
  }
}
@media (min-width: 767px) and (max-width: 1199px) {
  .triangle--big {
    border-width: 0 300px 54px 300px;
    margin-left: -300px;
    bottom: -1px;
  }
}
.triangle--blue {
  border-color: #1d099d transparent transparent transparent;
}
.triangle--white {
  border-color: transparent transparent transparent #ffffff;
}
.dashed-item {
  border-top: 1px dashed rgba(42, 38, 63, 0.2);
  width: 358px;
  height: 1px;
}
.dashed-item--content-block-4 {
  margin: 25px auto 0;
}
@media (min-width : 320px) and (max-width : 766px) {
  .dashed-item--content-block-4 {
    width: 100%;
  }
}
@media (min-width : 320px) and (max-width : 766px) {
  .dashed-item--content-block-5 {
    display: none;
  }
}
@media (min-width: 767px) and (max-width: 1199px) {
  .dashed-item--content-block-5 {
    display: none;
  }
}
@media (min-width: 1200px) {
  .dashed-item--content-block-5 {
    margin-top: 47px;
    margin-bottom: 40px;
    width: 100%;
  }
}
.line {
  width: 1px;
  background-color: #fff;
  position: absolute;
  transform: rotate(-30deg);
}
.line--header {
  height: 107px;
  top: -7px;
  left: 212px;
}
@media (min-width : 320px) and (max-width : 766px) {
  .line--header {
    display: none;
  }
}
.line--jumbotron-1 {
  height: 492px;
  top: 170px;
  left: 122px;
}
@media (min-width : 320px) and (max-width : 766px) {
  .line--jumbotron-1 {
    display: none;
  }
}
.line--jumbotron-2 {
  height: 492px;
  top: 170px;
  right: 122px;
}
@media (min-width : 320px) and (max-width : 766px) {
  .line--jumbotron-2 {
    display: none;
  }
}
.line--content-block-2 {
  height: 400px;
  bottom: -27px;
  left: 178px;
}
@media (min-width : 320px) and (max-width : 766px) {
  .line--content-block-2 {
    display: none;
  }
}
@media (min-width: 1200px) {
  .line--content-block-6 {
    height: 564px;
    top: -85px;
    right: 539px;
  }
}
.line--content-block-8 {
  height: 400px;
  top: -27px;
  left: 369px;
}
.line--content-block-10 {
  top: -86px;
  left: 50%;
  height: 579px;
}
@media (min-width : 320px) and (max-width : 766px) {
  .line--content-block-10 {
    top: -28px;
    left: 50%;
    height: 258px;
  }
}
@media (min-width: 1200px) {
  .content-block-1,
  .content-block-2__logo,
  .title--content-block-2,
  .content-block-3,
  .content-block-4,
  .content-block-5__picture,
  .content-block-5__lists,
  .title--content-block-6,
  .wpcf7 {
    opacity: 0;
  }
}
@media (min-width: 1200px) {
  .fadeInUp {
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-name: fadeInUp;
  }
}
@media (min-width: 1200px) {
  .fadeInLeft {
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-name: fadeInLeft;
  }
}
@media (min-width: 1200px) {
  .fadeInRight {
    animation-name: fadeInRight;
    animation-duration: 1s;
    animation-fill-mode: both;
  }
}
@media (min-width: 1200px) {
  .rotateIn {
    animation-name: rotateIn;
    animation-duration: 1s;
    animation-fill-mode: both;
  }
}
/*-----  End of Custom styles  ------*/
/*=============================
=            INDEX            =
=============================*/
/*-----  End of INDEX  ------*/
/*=================================
=            Variables            =
=================================*/
